.breadcrumbs {
    margin-top: 40px;
    background: none;
    padding-top: 0;

    li {
        color: #666;
        font-weight: 400;
        font-size: 17px;
        transition: all .3s ease-in-out;

        a {
            color: #666;
            font-weight: 400;
            font-size: 17px;
            transition: all .3s ease-in-out;
        }

        &:hover {
            cursor: default;

            a {
                color: #f47e00;
            }
        }

        &:after {
            padding: 0 5px;
            color: #ccc;
            content: "/\00a0";
        }

        &:last-of-type:after {
            content: "";
        }
    }
}
