.categories {
    .category {
        min-height: 500px;
        background-size: cover;
        filter:
            brightness(.7)
            grayscale(.7);
        cursor: pointer;
        transition: all .5s ease;

        &:hover {
            filter: brightness(.9);

            .category__header {
                color: #f47e00;
            }
        }

        a {
            text-decoration: none;

            &:hover {
                .category__header {
                    color: #f47e00;
                }
            }

            .category__header {
                font-size: 28px;
                padding-top: 40%;
                color: rgba(255,255,255,.8);
                text-transform: uppercase;
                font-weight: 400;
                text-align: center;
                transition: all .5s ease;
            }
        }
    }
}

.category {
    min-height: 500px;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 12%;

    .category__header {
        color: rgba(255,255,255,.8);
        text-transform: uppercase;
        font-weight: 400;
        font-size: 3.5rem;
        text-align: center;
        transition: all .5s ease;
    }
}
