footer {
    padding: 50px 0 20px 0;
    background-color: rgb(51, 51, 51);

    .footer__text {
        color: rgba(255,255,255,.5);
    }

    .footer__copyright {
        color: rgba(255,255,255,.5);
        font-size: 12px;
    }
}
