nav {
    position: relative;
    z-index: 100;
    border: none;

    .menu__top {
        .menu__top__item {
            margin-left: 30px;
            margin-right: 30px;

            a {
                color: rgba(255,255,255,.8);
                font-size: 16px;
            }
        }

    }

    .search {
        display: none;
    }
}

main {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('/images/public/backgrounds/home.jpg');
    background-size: cover;
    filter:
        brightness(.65)
        grayscale(.2);
    z-index: 0;

    .logo {
        padding-top: 15%;
        filter: brightness(20);
        border: none;
    }

    .welcome__text {
        margin-top: 6rem;
        margin-left: 20vw;
        width: 60vw;


        p {
            color: rgba(255,255,255,1);
            font-size: 20px;
        }
    }

    .get__started {
        &.get__started_link {
            a {
                margin: auto;
                display: block;
                width: 10rem;
                background-color: #6059f6;
                border-radius: 30px;
                padding: 10px 28px;
                transition: all 0.3s ease 0s;
                text-transform: capitalize;
                color: #fff;
                font-size: 18px;
                filter: brightness(1.2);

                &:hover {
                    background-color: #f47e00;;
                }
            }
        }
    }
}

footer {
    display: none;
}

@media (max-width: 600px) {
    main {
        .welcome__text {
            p {
                font-size: 15px;
            }
        }
    }
}
