.menu__top {
    margin-top: 20px;

    .menu__top__item {
        margin-left: 10px;
        margin-right: 10px;

        a {
            color: rgba(0,0,0,.7);
            font-size: 15px;
            font-weight: 500;
            transition: all .3s ease;
            text-decoration: none;

            &:hover {
                color: #f47e00;
            }
        }
    }
}

.menu__mobile {
    label {
        cursor: pointer;
    }

    .menu {
        visibility: hidden;
        z-index: -100;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0,.8);
        width: 100%;
        height: 100vh;
        opacity: 0;
        transition: all .3s ease-in-out;

        ul {
            margin-top: 5rem;
            text-align: center;

            li {
                margin-top: 1rem;
                text-transform: capitalize;

                a {
                    color: rgba(255,255,255,.8);
                    font-size: 24px;
                    transition: all .3s ease;

                    &:hover {
                        color: #f47e00;
                    }
                }
            }
        }
    }

    #menu__mobile__checkbox:checked + label + .menu {
        visibility: visible;
        z-index: 102;
        opacity: 1;

    }
}
