.newsletter {
    width: 100%;
    clear: both;

    input {
        width: 100%;
        height: 50px;
        padding: 10px 15px;
        border: 1px solid #ddd;
        outline: none;
        transition: all .3s ease-in-out;

        &:hover,
        &:active,
        &:focus {
            border-color: #f47e00;
        }
    }

    p {
        margin-bottom: 20px;
        margin-left: 40px;
        font-size: 12px;
    }
}
