.page {
    .page__header {
        cursor: default;

        h1 {
            font-weight: 700;
            font-size: 30px;
        }
    }

    .page__image {
        padding-top: 30px;

        img {
            width: 100%;
        }
    }

    .page__text {
        padding-top: 30px;
        padding-bottom: 80px;

        p {
            color: #666;
            font-size: 18px;
        }

        blockquote {
            border: 0;
            padding: 0;
            margin: 30px 0 60px 0;
            position: relative;
            font-size: 17.5px;

            p {
                display: inline-block;
                width: 100%;
                font-size: 22px;
                font-style: italic;
                text-align: center;
                color: #666;
                padding: 50px;
                position: relative;
                border: 3px solid #f47e00;
                z-index: 99;
                background: #fff;

                &:before {
                    content: '\f10d';
                    font-family: FontAwesome;
                    position: absolute;
                    left: 20px;
                    top: 20px;
                    font-size: 28px;
                    color: #f47e00;
                }
            }

            &:before {
                content: '';
                position: absolute;
                top: 50px;
                left: 50px;
                border: 3px solid #ddd;
                bottom: -30px;
                right: -30px;
                z-index: 9;
            }
        }

        ul {
            li {
                position: relative;
                margin-bottom: 10px;
                font-size: 18px;

                * {
                    font-size: 18px;
                }

                &:before {
                    content: '';
                    width: 10px;
                    height: 10px;
                    background: #f47e00;
                    margin-top: 0;
                    position: absolute;
                    left: -18px;
                    top: 5px;
                    z-index: 9;
                }

                &:after {
                    content: '';
                    border: 1px solid #ddd;
                    width: 10px;
                    height: 10px;
                    left: -15px;
                    top: 8px;
                    right: -3px;
                    bottom: -3px;
                    position: absolute;
                    z-index: 1;
                }
            }
        }
    }
}
