.post {
    padding-bottom: 30px;

    .post__image {
        min-height: 400px;
        background-size: cover;
        background-position: center;
        text-align: center;

        .post__header {
            padding-top: 8%;
            color: rgba(255,255,255,1);
            text-transform: uppercase;
            font-weight: 400;
            font-size: 3.5rem;
            text-align: center;
            transition: all .5s ease;
        }
    }

    .post__category {
        font-size: 18px;

        a {
            color: #666666;
            transition: all .3s ease-in-out;

            &:hover {
                color: #f47e00;
            }
        }
    }

    .post__text {
        margin-top: 30px;

        p {
            color: #666;
            font-size: 18px;
        }

        blockquote {
            border: 0;
            padding: 0;
            margin: 30px 0 60px 0;
            position: relative;
            font-size: 17.5px;

            p {
                display: inline-block;
                width: 100%;
                font-size: 22px;
                font-style: italic;
                text-align: center;
                color: #666;
                padding: 50px;
                position: relative;
                border: 3px solid #f47e00;
                z-index: 99;
                background: #fff;

                &:before {
                    content: '\f10d';
                    font-family: FontAwesome;
                    position: absolute;
                    left: 20px;
                    top: 20px;
                    font-size: 28px;
                    color: #f47e00;
                }
            }

            &:before {
                content: '';
                position: absolute;
                top: 50px;
                left: 50px;
                border: 3px solid #ddd;
                bottom: -30px;
                right: -30px;
                z-index: 9;
            }
        }
    }
}

.posts {
    margin-top: 30px;

    .post {
        margin-bottom: 40px;

        .post__image {
            img {
                width: 100%;
                position: relative;
            }
        }

        .post__header {

            h2 {
                height: 4rem;
                width: 70%;
                margin-left: 15%;
                margin-bottom: 20px;
                padding-top: 10px;

                border-right: 2px solid rgba(0,0,0,.3);
                border-bottom: 2px solid rgba(0,0,0,.3);
                border-left: 2px solid rgba(0,0,0,.3);

                text-align: center;

                transition: all .3s ease-in-out;
                cursor: pointer;

                &:hover {
                    border-color: #f47e00;

                    a {
                        color: #f47e00;
                    }
                }

                a {
                    color: #666666;
                    transition: all .3s ease-in-out;
                }
            }
        }

        .post__info {
            &.post__info_category {
                position: relative;
                margin-right: 15px;
                padding-right: 25px;

                color: #666666;
                font-size: 16px;
                font-weight: 700;

                &:after {
                    content: '—';
                    position: absolute;
                    right: 0;
                    top: 0;
                    color: #f47e00;
                }
            }

            &.post__info_date {
                color: #666666;
                font-size: 16px;
                font-weight: 700;
            }
        }

        .post__continue-reading {
            margin-top: 20px;
            padding: 12px 20px;
            border: 1px solid #ddd;
            border-radius: 0;

            background: none;
            overflow: hidden;
            text-align: center;

            transition: all .3s ease-in-out;
            cursor: pointer;

            &:hover {
                border-color: #f47e00;

                a {
                    color: #f47e00;
                }
            }

            a {
                color: #666666;

                text-transform: uppercase;
                font-weight: 700;
                font-size: 16px;

                transition: all .3s ease-in-out;
            }
        }
    }
}
