.recent__posts {
    margin-top: 80px;

    .recent__post {
        display: flex;
        margin-bottom: 20px;
        margin-left: 40px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0,0,0,.2);

        .recent__post__image {
            position: relative;
            width: 35%;
            max-height: 300px;
            padding-right: 10px;
            padding-bottom: 10px;

            &:hover {
                &:after {
                    border-color: #f47e00;
                }
            }

            &:after {
                content: '';
                border: 3px solid #ddd;
                right: 0;
                bottom: 0;
                position: absolute;
                -webkit-transition: 0.3s ease-in-out;
                -moz-transition: 0.3s ease-in-out;
                -o-transition: 0.3s ease-in-out;
                -ms-transition: 0.3s ease-in-out;
                transition: 0.3s ease-in-out;
                left: 10px;
                top: 10px;
            }

            img {
                position: relative;
                z-index: 9;
                width: 100%;
            }
        }

        .recent__post__info {
            width: 100%;
            margin-left: 10px;

            &.recent__post__info_header {
                a {
                    color: #666666;
                    text-decoration: none;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        color: #f47e00;;
                    }
                }

            }

            &.recent__post__info_description {
                height: 80px;
                max-height: 100px;
                font-size: 13px;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}
