.search {
    display: flex;
    flex-direction: row-reverse;

    #search__checkbox {
        &:checked + .search__icon {
            transform: rotate(90deg);
        }

        &:checked + .search__icon + .search__input {
            opacity: 1;
        }
    }

    .search__icon {
        cursor: pointer;
        transition: all .3s ease;

        img {
            width: auto;
            height: 23px;
            margin-top: 5px;
        }
    }

    .search__input {
        margin-right: 10px;
        height: 30px;
        opacity: 0;
        transition: all .3s ease;

        input {
            height: 100%;

            &:focus {
                border-color: rgb(244,126,0,.25);
                box-shadow: 0 0 0 .05rem rgb(244,126,0,.25);
            }
        }
    }
}
