.subcategories {
    .subcategory {
        margin-left: 40px;
        margin-bottom: 10px;
        width: 50%;
        cursor: pointer;

        &:hover {
            border-color: #f47e00;

            a, span {
                color: #f47e00;
            }
        }

        a, span {
            color: #666666;
            transition: all .3s ease-in-out;
        }
    }
}
