.tags {
    margin-left: 40px;

    .tag {
        display: inline-block;
        width: 50%;
        float: left;
        padding-bottom: 18px;
        margin-bottom: 18px;
        border-bottom: 1px solid #ddd;
        transition: 0.3s ease-in-out;

        &:hover {
            border-color: #f47e00;

            a {
                color: #f47e00;
            }
        }

        a {
            transition: 0.3s ease-in-out;
            color: #666666;
            font-size: 14px;
        }
    }
}
