.modal-dialog {
    max-width: 1000px;
}

.modal-body {
    display: flex;
    flex-wrap: wrap;
}

.modal-body label {
    width: 17%;
    max-height: 250px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

.modal-body label img {
    max-width: 100%;
    max-height: 100%;
}

.modal-body input[type=radio] + label:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(255,255,255,.8);
    border-radius: 50%;
    transition: all .3s ease;
}

.modal-body input[type=radio]:checked + label:after {
    content: "";
    background-image: url("/img/tick.png");
    background-position: center;
    background-size: 30px 30px;
    border: none;
}

.fotorama__html form {
    text-align: right;
}

.content {
    margin-top: 30px !important;
}

.tags__select {
    height: 300px;
}
