@charset "UTF-8";

.breadcrumbs {
  margin-top: 40px;
  background: none;
  padding-top: 0;
}

.breadcrumbs li {
  color: #666;
  font-weight: 400;
  font-size: 17px;
  transition: all 0.3s ease-in-out;
}

.breadcrumbs li a {
  color: #666;
  font-weight: 400;
  font-size: 17px;
  transition: all 0.3s ease-in-out;
}

.breadcrumbs li:hover {
  cursor: default;
}

.breadcrumbs li:hover a {
  color: #f47e00;
}

.breadcrumbs li:after {
  padding: 0 5px;
  color: #ccc;
  content: "/\A0";
}

.breadcrumbs li:last-of-type:after {
  content: "";
}

