.categories .category {
  min-height: 500px;
  background-size: cover;
  -webkit-filter: brightness(0.7) grayscale(0.7);
          filter: brightness(0.7) grayscale(0.7);
  cursor: pointer;
  transition: all 0.5s ease;
}

.categories .category:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.categories .category:hover .category__header {
  color: #f47e00;
}

.categories .category a {
  text-decoration: none;
}

.categories .category a:hover .category__header {
  color: #f47e00;
}

.categories .category a .category__header {
  font-size: 28px;
  padding-top: 40%;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  transition: all 0.5s ease;
}

.category {
  min-height: 500px;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 12%;
}

.category .category__header {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3.5rem;
  text-align: center;
  transition: all 0.5s ease;
}

