footer {
  padding: 50px 0 20px 0;
  background-color: #333333;
}

footer .footer__text {
  color: rgba(255, 255, 255, 0.5);
}

footer .footer__copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
}

