body {
  overflow-x: hidden;
}

a,
a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

nav {
  padding-top: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

* {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

*:focus {
  outline: 0 !important;
}

main {
  min-height: 70vh;
}

h4 {
  margin: 20px;
}

h4 span {
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 15px;
  margin-top: 2px;
  position: relative;
}

h4 span:before {
  content: "";
  width: 10px;
  height: 10px;
  background: #f47e00;
  margin-top: 0;
  position: absolute;
  z-index: 9;
}

h4 span:after {
  content: "";
  border: 1px solid #ddd;
  left: 3px;
  top: 3px;
  right: -3px;
  bottom: -3px;
  position: absolute;
  z-index: 1;
}

.orange {
  color: #f47e00;
}

.ttu {
  text-transform: uppercase;
}

.close {
  display: block;
  width: 40px;
  height: 40px;
  margin-top: 20px;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
}

.close:hover .first-line,
.close:hover .second-line {
  background-color: white;
}

.close .first-line,
.close .second-line {
  background-color: white;
  display: block;
  width: 30px;
  height: 1px;
  transition: all 0.3s ease-in-out;
}

.close .first-line {
  transform: rotate(-45deg);
}

.close .second-line {
  transform: rotate(45deg);
}

.logo {
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

@media (max-width: 600px) {
  main .welcome__text p {
    font-size: 15px;
  }

  main .logo {
    padding-top: 20%;
    transform: scale(0.8);
  }

  main .logo img {
    width: 100%;
  }
}

