.menu__top {
  margin-top: 20px;
}

.menu__top .menu__top__item {
  margin-left: 10px;
  margin-right: 10px;
}

.menu__top .menu__top__item a {
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s ease;
  text-decoration: none;
}

.menu__top .menu__top__item a:hover {
  color: #f47e00;
}

.menu__mobile label {
  cursor: pointer;
}

.menu__mobile .menu {
  visibility: hidden;
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.menu__mobile .menu ul {
  margin-top: 5rem;
  text-align: center;
}

.menu__mobile .menu ul li {
  margin-top: 1rem;
  text-transform: capitalize;
}

.menu__mobile .menu ul li a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  transition: all 0.3s ease;
}

.menu__mobile .menu ul li a:hover {
  color: #f47e00;
}

.menu__mobile #menu__mobile__checkbox:checked + label + .menu {
  visibility: visible;
  z-index: 102;
  opacity: 1;
}

