.newsletter {
  width: 100%;
  clear: both;
}

.newsletter input {
  width: 100%;
  height: 50px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.newsletter input:hover,
.newsletter input:active,
.newsletter input:focus {
  border-color: #f47e00;
}

.newsletter p {
  margin-bottom: 20px;
  margin-left: 40px;
  font-size: 12px;
}

