.search {
  display: flex;
  flex-direction: row-reverse;
}

.search #search__checkbox:checked + .search__icon {
  transform: rotate(90deg);
}

.search #search__checkbox:checked + .search__icon + .search__input {
  opacity: 1;
}

.search .search__icon {
  cursor: pointer;
  transition: all 0.3s ease;
}

.search .search__icon img {
  width: auto;
  height: 23px;
  margin-top: 5px;
}

.search .search__input {
  margin-right: 10px;
  height: 30px;
  opacity: 0;
  transition: all 0.3s ease;
}

.search .search__input input {
  height: 100%;
}

.search .search__input input:focus {
  border-color: rgba(244, 126, 0, 0.25);
  box-shadow: 0 0 0 0.05rem rgba(244, 126, 0, 0.25);
}

