/** ***************************************
	@Author			Gomal Themes
	@Website		http://gomalthemes.com
	Version:	1.0
	@Created	10:35 PM Tuesday, November 01, 2016
	TABLE CONTENTS
	---------------------------
		01. Font Families
		02. Color & Background Colors
		03. Font Sizes
		04. Spacing/Dividers
		05. Buttons
		06. Transitions
	---------------------------
 ** ************************************* **/
/**	01. Font Families
*************************************************** **/
.font-lato {
    font-family: 'Lato', sans-serif;
}
.font-roboto {
    font-family: 'Roboto', sans-serif;
}
/** ************************************* **/
/**	02. Color & Background Colors
*************************************************** **/
.color-white {
    color: #fff !important;
}
.color-white h1,.color-white h2,.color-white h3,.color-white h4,.color-white h5,.color-white h6,.color-white p{
    color: #fff !important;
}
.color-half-white{
    color: #cccccc;
}
.color-dark {
    color: #333333;
}
.color-grey {
    color: #666;
}
.color-orange {
    color: #f47e00;
}
.bg-half-white {
    background: #f7f7f7;
}
.bg-dark-grey {
    background: #333333;
}
.bg-white {
    background: #fff;
}
.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400;
}
.fw-700 {
    font-weight: 700;
}
/** ************************************* **/
/**	03. Font Sizes
*************************************************** **/
.font-11 {
    font-size: 11px;
}
.font-13 {
    font-size: 13px;
}
.font-15 {
    font-size: 15px;
}
.font-16 {
    font-size: 16px;
}
.font-18 {
    font-size: 18px;
}
.font-20{
    font-size: 20px;
}
.font-21{
    font-size: 21px;
}
.font-22{
    font-size: 22px;
}
.font-37 {
    font-size: 37px;
}
.font-50 {
    font-size: 50px;
}
.font-60 {
    font-size: 60px;
}
.font-71 {
    font-size: 71px;
}
.font-84 {
    font-size: 84px;
}
.font-100 {
    font-size: 100px;
}
.font-172 {
    font-size: 172px;
}
.text-italic{
    font-style: italic;
}
.text-bold {
    font-weight: 700;
}
/** ************************************* **/
/**	04. Spacings
*************************************************** **/
.space10 {
    float: left;
    width: 100%;
    height: 10px;
}
.space20 {
    float: left;
    width: 100%;
    height: 20px;
}
.space30 {
    float: left;
    width: 100%;
    height: 30px;
}
.space40 {
    float: left;
    width: 100%;
    height: 40px;
}
.space50 {
    float: left;
    width: 100%;
    height: 50px;
}
.space60 {
    float: left;
    width: 100%;
    height: 60px;
}
.space70 {
    float: left;
    width: 100%;
    height: 70px;
}
.space80 {
    float: left;
    width: 100%;
    height: 80px;
}
.space90 {
    float: left;
    width: 100%;
    height: 90px;
}
.space100 {
    float: left;
    width: 100%;
    height: 100px;
}
.space110 {
    float: left;
    width: 100%;
    height: 110px;
}
.space120 {
    float: left;
    width: 100%;
    height: 120px;
}
.space130 {
    float: left;
    width: 100%;
    height: 130px;
}
.space140 {
    float: left;
    width: 100%;
    height: 140px;
}
.space150 {
    float: left;
    width: 100%;
    height: 150px;
}
/** ************************************* **/
/**	05. Buttons
*************************************************** **/
.btn {
    font-size: 16px;
    background: none;
    overflow: hidden;
    padding: 12px 20px;
    border: 1px solid #ddd;
    border-radius: 0;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #666666;
}
.btn .fa {
    padding-left: 5px;
}
.btn:hover {
    overflow: hidden;
    color: #fff;
    background: #f47e00;
    border-color: #f47e00;
}
.btn.btn-white {
    background: #fff;
    color: #333333;
}
.btn.btn-white:hover {
    border-color: #333333;
}
.btn.extra-btn-padding {
    padding-left: 40px;
    padding-right: 40px;
}
/** 06 Transitions **/
/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
    color: white;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
/* Sweep To Right */
.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Sweep To Left */
.hvr-sweep-to-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-sweep-to-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
    color: white;
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    /*background: #fff url(images/loader.gif) no-repeat center center;*/
}
.padding-0 {
    padding: 0;
}
.padding-top-130{
    padding-top: 130px;
}
.margin-top-0{
    margin-top: 0;
}
.padding-80-50 {
    padding: 80px 0 50px 0;
}
.w-100 {
    width: 100%;
}
.data-image {
    background-position: 50% 0 !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-repeat: no-repeat;
}
.relative {
    position: relative;
}
.padding-75-50-0-75 {
    padding: 75px 50px 0 75px;
}
.port-equal div[class^="col-"], .port-equal div[class*=" col-"] {
    padding: 0;
}
.padding-75-50 {
    padding: 75px 50px;
}
.padding-75-0-0-0 {
    padding: 75px 0 0 0;
}
.padding-80-80 {
    padding: 80px 0;
}
.margin-top-minus-30 {
    margin-top: -30px;
}
.padding-50-50 {
    padding: 50px 0;
}
.visibility-hidden {
    visibility: hidden;
}
.padding-top-0 {
    padding-top: 0;
}

.recent-pwidget li {

}

.rp-desc {
    padding-left: 30px;
}

.rp-img {
    position: unset;
}

.rp-img img {
    width: auto;
    height: 180px;
    overflow: hidden;
}

.rp-img .border-img img {

}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.mt-5 {
    margin-top: 3rem;
}

.padding-0 {
    padding: 0 !important;
}

.feature-post {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.feature-post .img-holder {
    width: 100%;
}

.feature-post .img-holder,
.feature-post img {
    height: 100%;
}

.item.data-image {
    background-size: 100% !important;
    background-position: center !important;
}

.recent-posts.recent-posts2 {
    height: auto;
}

.feature-post .img-holder a {
    opacity: 1;
}

.feature-post {
    cursor: pointer;
}

.feature-post h3 {
    transition: all .3s ease;
}

.feature-post:hover h3 {
    margin-top: 0;
    position: relative;
    top: -150px;
}

.feature-post h3 a {
    color: rgba(255,255,255,.8);
}
