.subcategories .subcategory {
  margin-left: 40px;
  margin-bottom: 10px;
  width: 50%;
  cursor: pointer;
}

.subcategories .subcategory:hover {
  border-color: #f47e00;
}

.subcategories .subcategory:hover a,
.subcategories .subcategory:hover span {
  color: #f47e00;
}

.subcategories .subcategory a,
.subcategories .subcategory span {
  color: #666666;
  transition: all 0.3s ease-in-out;
}

