.tags {
  margin-left: 40px;
}

.tags .tag {
  display: inline-block;
  width: 50%;
  float: left;
  padding-bottom: 18px;
  margin-bottom: 18px;
  border-bottom: 1px solid #ddd;
  transition: 0.3s ease-in-out;
}

.tags .tag:hover {
  border-color: #f47e00;
}

.tags .tag:hover a {
  color: #f47e00;
}

.tags .tag a {
  transition: 0.3s ease-in-out;
  color: #666666;
  font-size: 14px;
}

